.header {
    background: $color-light;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    padding: 15px 0 17px 0;
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-table {
        padding-left: 25px;
        
    }
}


.header__logo-line {
    display: flex;
    align-items: center;
}

.header__buttons {
    @include media-mobile {
        display: none;
    }
    
}